---
import { skills } from "../data/skills.js";
import SkillCard from "./skillCard.astro";
---

<section id="skills" class="max-w-425 m-auto scroll-mt-20 md:scroll-mt-4 lg:scroll-mt-0 px-4 md:py-20 lg:py-30 bg-white/95">
  <h3
    class="text-3xl text-black text-center font-bold pb-10 md:text-4xl lg:text-5xl"
  >
    Skills
  </h3>

  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
  >
    <div class="flex flex-col items-center">
      <h4
        class="text-black text-2xl mb-6 border-b border-black pb-2 w-full text-center"
      >
        Languages
      </h4>
      <div class="flex flex-wrap justify-center gap-4">
        {
          skills.languages.map((s) => (
            <SkillCard name={s.name} picture={s.img} />
          ))
        }
      </div>
    </div>

    <div class="flex flex-col items-center">
      <h4
        class="text-black text-2xl mb-6 border-b border-black pb-2 w-full text-center"
      >
        Frameworks
      </h4>
      <div class="flex flex-wrap justify-center gap-4">
        {
          skills.frameworks.map((s) => (
            <SkillCard name={s.name} picture={s.img} />
          ))
        }
      </div>
    </div>

    <div class="flex flex-col items-center md:col-span-2">
      <h4
        class="text-black text-2xl mb-6 border-b border-black pb-2 w-full text-center"
      >
        Tools
      </h4>
      <div class="flex flex-wrap justify-center gap-4">
        {skills.tools.map((s) => <SkillCard name={s.name} picture={s.img} />)}
      </div>
    </div>
  </div>
</section>
